.coin-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 100px;
    background-size: cover;
    border: None;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    transition: all 0.3s;
    user-select:none;
    text-align: center;
    text-decoration: none;
}

.coin-button:active {
    transform: scale(0.93);
}

.coin-balance {
    font-family: Hacker;
    color: white;
    size: 1rem;
}
