.coin-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    background-size: cover;
    border: None;
    border-radius: 50%;
    width: 220px;
    height: 220px;
    transition: all 0.1s;
    user-select:none;
    text-align: center;
    text-decoration: none;
    box-shadow: inset 0 0 10px #fda80377, 0 0 9px 3px #fda80344;
}

.coin-button:active {
    transform: scale(0.93);
}

.coin-balance {
    font-family: Hacker;
    color: white;
    size: 1.5rem;  
}

.coin-balance-button {
  --yellow: #fda803;
  font-size: 15px;
  padding: 0.7em 2.7em;
  margin-top: 30px;
  width: 70%;
  height: 80px;
  letter-spacing: 0.06em;
  position: relative;
  font-family: inherit;
  border-radius: 2.6em;
  overflow: hidden;
  transition: all 0.3s;
  line-height: 1.4em;
  border: 2px solid var(--yellow);
  background: linear-gradient(to right, #fda80333 1%, transparent 40%,transparent 60% , #fda80333 100%);
  color: var(--yellow);
  box-shadow: inset 0 0 10px #fda80311, 0 0 9px 3px #fda80333;
}
