.coin-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40%;
    background-size: cover;
    border: None;
    border-radius: 50%;
    width: 60%;
    height: 30%;
    transition: all 0.3s;
    user-select:none;
    text-align: center;
    text-decoration: none;
}

.coin-button:active {
    transform: scale(0.93);
}

.coin-balance {
    font-family: Hacker;
    color: white;
    size: 1rem;
}