@font-face { 
    font-family: Hacker; 
    src: url("../assets/fonts/hacker.ttf");
} 

html, body {
    overflow: hidden;
    height: 100%;
    margin: 0;
}

body {
  background:linear-gradient(90deg, transparent 24%,#FDA80311 25%, #FDA80311 30%, transparent 31%, transparent 39%,#FDA80311 40%, #FDA80311 45%, transparent 45%) 0% 0% / 3em 3em,linear-gradient(180deg, transparent 24%,#FDA80311 25%, #FDA80311 30%, transparent 31%, transparent 39%,#FDA80311 40%, #FDA80311 45%, transparent 45%) 0% 0% / 3em 3em #000000;
opacity:0.9;
background-size: 15px 15px;
}


input, textarea, button, select, a {
    -webkit-tap-highlight-color: transparent;
}


