body, html {
    height: 100%;
}

body {
    font-family: monospace ;
    background-color: black;
}
h1 {
    color: white;
    font-size: 100%;
    position: relative;
    width: auto; 
    height: auto; 
}

button {
    background-color: #000000;
    border-collapse: red;
    color: white;
    padding: 1px 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

#bg {
    background:
        linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
        url("files/bg.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.clickEffect{
    position:fixed;
    box-sizing:border-box;
    border-style:solid;
    border-color:#444444;
    border-radius:20%;
    animation:clickEffect 0.4s ease-out;
    z-index:99999;
}
@keyframes clickEffect{
    0%{
    opacity:1;
    width:0.5em; height:0.5em;
    margin:-0.25em;
    border-width:0.5em;
}
100%{
    opacity:0.2;
    width:5em; height:5em;
    margin:-2.5em;
    border-width:0.03em;
}
}
