@media (min-width:768px) {
    html, body {
        height: 100%;
    }

    body {
        margin: 0;
        background-color: #293241;
        overflow: hidden;
    }

    nav {
        position: absolute;
        top: 8%;
        right: 0;
        left: 0;
        width: 319px;
        display: table;
        margin: 0 auto;
        transform: translateY(-50%);
    }

    nav a {
        position: relative;
        width: 33.333%;
        display: table-cell;
        text-align: center;
        color: #98c1d9;
        text-decoration: none;
        font-family: monospace;
        font-weight: bold;
        padding: 10px 20px;
        transition: 0.2s ease color;
    }

    nav a:before, nav a:after {
        content: "";
        position: absolute;
        border-radius: 50%;
        transform: scale(0);
        transition: 0.2s ease transform;
    }

    nav a:before {
        top: 0;
        left: 10px;
        width: 6px;
        height: 6px;
    }

    nav a:after {
        top: 5px;
        left: 18px;
        width: 4px;
        height: 4px;
    }

    nav a:nth-child(1):before {
        background-color: white;
    }

    nav a:nth-child(1):after {
        background-color: gray;
    }

    nav a:nth-child(2):before {
        background-color: white;
    }

    nav a:nth-child(2):after {
        background-color: gray;
    }

    nav a:nth-child(3):before {
        background-color: white;
    }

    nav a:nth-child(3):after {
        background-color: gray;
    }

    #indicator {
        position: absolute;
        left: 5%;
        bottom: 0;
        width: 30px;
        height: 3px;
        background-color: #fff;
        border-radius: 5px;
        transition: 0.2s ease left;
    }

    nav a:hover {
        color: #e0fbfc;
    }

    nav a:hover:before, nav a:hover:after {
        transform: scale(1);
    }

    nav a:nth-child(1):hover ~ #indicator {
        background: linear-gradient(130deg, white, gray);
    }

    nav a:nth-child(2):hover ~ #indicator {
        left: 34%;
        background: linear-gradient(130deg, white, gray);
    }

    nav a:nth-child(3):hover ~ #indicator {
        left: 70%;
        background: linear-gradient(130deg, white, gray);
    }

    .box1 {
        position: relative;
        width: 40%;
        height: 65%;
        background-color: #212121;
        padding: 2%;
        top: 20%;
        left: 0;
        right: 0;
        margin-left: 40px;
        position: absolute;
        border-radius: 10px;
        border: solid;
        border-width: 1.5px;
        border-color: #555555;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }

    .box1:hover {
        border_color: #ffffff;
        border-radius: 15px;
    }

    .box2 {
        position: relative;
        width: 40%;
        height: 65%;
        background-color: #212121;
        padding: 2%;
        top: 20%;
        right: 0;
        margin-right: 40px;
        position: absolute;
        border-radius: 10px;
        border: solid;
        border-width: 1.5px;
        border-color: #555555;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }

    .box2:hover {
        border_color: #ffffff;
        border-radius: 15px;
    }

    .box-header {
        color: #98c1d9;
        font-size: 24px;
        margin-bottom: 10px;
        position: relative;
        font-family: monospace;
    }

    .box-hint {
        color: #dddddd;
        font-size: 16px;
        margin-bottom: 10px;
        position: relative;
        font-family: monospace;
    }

    .box-hint:hover {
        color: #eeeeee;
    }

    .box-input {
        display: block;
        text-align: left;
        vertical-align: top;
        color: white;
        font-family: monospace;
        font-size: 16px;
        background-color: #3d5a8066;
        border: none;
        outline: none;
        padding: 2px;
        border-radius: 5px;
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 87%;
        height: 35px;
        padding-right: 5px;
        padding-left: 5px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 7px 14px, rgba(0, 0, 0, 0.22) 0px 5px 5px;
    }

    .box-input:hover {
        border-radius: 10px;
    }

    .submit_button {
        align-items: center;
        background: #3d5a80;
        border: 0 solid #aaaaaa;
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
        box-sizing: border-box;
        color: #ffffff;
        display: inline-flex;
        font-family: monospace;
        font-size: 1rem;
        font-weight: 700;
        height: 20px;
        justify-content: center;
        line-height: 24px;
        overflow-wrap: break-word;
        padding: 20px;
        position: absolute;
        bottom: 10px;
        right: 10px;
        text-decoration: none;
        width: auto;
        border-radius: 8px;
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        outline: None;
    }

    .submit_button:hover {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 7px 14px, rgba(0, 0, 0, 0.22) 0px 5px 5px;
        background-image: linear-gradient(to bottom, #3d5a80, #293241);
        animation: storm 0.7s ease-in-out both;
    }

    @keyframes storm {
        0% {
            transform: translate3d(0, 0, 0) translateZ(0);
        }

        25% {
            transform: translate3d(2px, 0, 0) translateZ(0);
        }

        50% {
            transform: translate3d(-1.5px, 0, 0) translateZ(0);
        }

        75% {
            transform: translate3d(2px, 0, 0) translateZ(0);
        }

        100% {
            transform: translate3d(0, 0, 0) translateZ(0);
        }

    }

    .reset_button {
        align-items: center;
        background: #293241;
        border: 0 solid #aaaaaa;
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
        box-sizing: border-box;
        color: #ffffff;
        display: inline-flex;
        font-family: monospace;
        font-size: 1rem;
        font-weight: 700;
        height: 20px;
        justify-content: center;
        line-height: 24px;
        overflow-wrap: break-word;
        padding: 20px;
        position: absolute;
        bottom: 10px;
        right: 105px;
        text-decoration: none;
        width: auto;
        border-radius: 8px;
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        outline: None;
    }

    .reset_button:hover {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 7px 14px, rgba(0, 0, 0, 0.22) 0px 5px 5px;
        background-image: linear-gradient(to bottom, #3d5a80, #293241);
        animation: storm 0.7s ease-in-out both;
    }

    @keyframes storm {
        0% {
            transform: translate3d(0, 0, 0) translateZ(0);
        }

        25% {
            transform: translate3d(2px, 0, 0) translateZ(0);
        }

        50% {
            transform: translate3d(-1.5px, 0, 0) translateZ(0);
        }

        75% {
            transform: translate3d(2px, 0, 0) translateZ(0);
        }

        100% {
            transform: translate3d(0, 0, 0) translateZ(0);
        }

    }

    .output-paragraph {
        color: #98c1d9;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 7px 14px, rgba(0, 0, 0, 0.22) 0px 5px 5px;
        max-height: 40%;
        overflow: auto;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 87%;
        height: 50%;
        padding-right: 5px;
        padding-left: 5px;
    }

}

html, body {
    height: 100%;
    margin: 0;
    background-color: #293241;
    overflow: hidden;
}
